<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} No Title Given {% endblock title %}</title>
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
        <li><a href="{% url 'home' %}">View Receipts</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'accounts_list' %}">View Accounts</a></li>
        <li><a href="{% url 'create_account' %}">Create Accounts</a></li>
        <li><a href="{% url 'categories_list' %}">View Categories</a></li>
        <li><a href="{% url 'create_category' %}">Create Category</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock content %}
  </body>
</html>
