{% extends 'base.html' %} {% block title %}All Categories{% endblock title %}

<!-- prettier-ignore -->
{% block content %}
<main>
  <h1>My Expense Categories</h1>
  <a href="{% url 'create_category' %}">Create Category</a>
  <table>
    <thead>
      <th>Name</th>
      <th>Number of Receipts</th>
    </thead>
  </table>
  <tbody>
    {% for expense in all_expenses %}
    <tr>
      <td>{{ expense.name }}</td>
      <td>{{ expense.receipts.all|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</main>
{% endblock content %}
