{% extends 'base.html' %} {% block title %}Log In{% endblock title %}

<!-- prettier-ignore -->
{% block content %}
<main>
  <div>
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }} <button type="submit">Submit</button>
    </form>
  </div>
</main>
{% endblock content %}
