{% extends 'base.html' %} {% block title %}Sign Up!{% endblock title %}

<!-- prettier-ignore -->
{% block content %}
<main>
  <div>
    <h1>Signup</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }} <button>">Sign Up</button>
    </form>
  </div>
</main>
{% endblock content %}
